html {
  font-family: 'Pretendard', 'Poppins', -apple-system, BlinkMacSystemFont,
    'Segoe UI', system-ui, sans-serif;
}

:root {
  font-weight: 500;
  color: #222;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

a {
  font-weight: 500;
  color: #40e0d0;
  text-decoration: inherit;
  margin: 0;
}

a:hover {
  color: #40e0d0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 15px;
  font-family: inherit;
}

h1 {
  font-size: 40px;
  margin: 0;
}
h2 {
  font-size: 35px;
  margin: 0;
}

* {
  font-family: inherit;
}

h3 {
  font-size: 20px;
  margin: 0;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button:hover,
button:focus,
button:active {
  opacity: 0.8;
}

button:focus-visible {
  outline: 1px solid #40e0d0;
  border: 1px solid #40e0d0;
}

p,
ul,
li {
  margin: 0;
  padding: 0;
}

.english-text {
  font-family: 'Poppins', 'Pretendard', -apple-system, BlinkMacSystemFont,
    'Segoe UI', system-ui, sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #222;
    background-color: #ffffff;
  }
  a:hover {
    color: #40e0d0;
  }
}
